@import url(root.css);

/* ===================== تنظیمات پایه ===================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ===================== بدنه صفحه ===================== */
body {
  display: flex;
  flex-direction: column;
  background: var(--color-light-bg);
  font-family: var(--font-primary);
}
/* ===================== هدر ===================== */
header {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr; /* دو ستون: جستجو و لوگو/کاربر */
  width: 100%;
}
/* ===================== بخش لوگو ===================== */

.logo-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.user-title {
  cursor: pointer;
}
.user-title a {
  color: var(--color-white);
  text-decoration: none;
}
.user-icon {
  width: 40px;
  height: 40px;
}
/* منوی خروج کاربر */
.user-logout {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: var(--color-logout-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  z-index: 1;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-dark);
  color: var(--color-white);
}
.user-logout.hidden {
  display: none; /* مخفی بودن پیش‌فرض منوی خروج */
}
/* استایل دکمه خروج */
.user-logout button {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  color: var(--color-primary);
}
.user-logout > button > svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}
.user-logout > button:hover {
  color: var(--color-danger);
  cursor: pointer;
}
/* ===================== لوگو ===================== */
.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-img p {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: bold;
}
.logo-img svg {
  width: 40px;
  height: 40px;
}
/* ===================== منو (برگر) ===================== */
.nav-burger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 4px;
}
.nav-burger:hover {
  background-color: var(--color-hover);
  backdrop-filter: blur(10px);
}
.nav-burger svg {
  width: 100%;
  height: 100%;
  color: var(--color-white);
}
/* ===================== بخش جستجو ===================== */
.search-section {
  display: flex;
  align-items: center;
}
form {
  box-shadow: var(--shadow-dark-secondary);
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-hover);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  overflow: auto;
}
.search-section button {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.search-section button svg {
  width: 100%;
  height: 100%;
  color: var(--color-white);
}
.search-section input {
  width: 150px;
  height: 40px;
  background-color: inherit;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  text-align: right;
  outline: none;
}
.search-section input::placeholder {
  color: var(--color-input-placeholder);
  font-size: 1.2rem;
}
.search-section input:focus {
  width: 300px;
  transition: width 300ms ease-in-out;
}
/* ===================== لایه اصلی (سایدبار + مین) ===================== */
.layout {
  display: flex;
  width: 100%;
  overflow: hidden;
}

/* ===================== سایدبار ===================== */

/* موبایل */
.sidebar-nav {
  background-color: var(--color-white);
  padding: 20px;
  height: 100%;
  width: 70%;
  display: none; /* به طور پیش‌فرض مخفی */
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  box-shadow: var(--shadow-heavy);
}

.sidebar-nav.active {
  display: flex; /* فعال شدن سایدبار*/
}

/*  Overlay */
#mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  display: none; /* به طور پیش‌فرض مخفی */
  z-index: 998;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*  overlay فعال شد */
#mobile-overlay.show {
  display: block;
  opacity: 1;
}

/* دسکتاپ */
.sidebar {
  background: var(--color-white);
  padding: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  box-shadow: var(--shadow-heavy);
}

.sidebar.hidden {
  display: none;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-primary);
}
.sidebar-title svg {
  display: none;
}
/* منو ناوبری */
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
nav svg {
  width: 20px;
  height: 20px;
}

/* لیست های منو */
nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 10px;
}
nav ul:not(:last-child) {
  border-bottom: 1px solid var(--color-black);
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  cursor: pointer;
  text-align: right;
  flex-direction: column;
}
nav ul li:not(:first-child):hover {
  background-color: var(--color-logout-bg);
  border-radius: 5px;
}
nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  color: var(--color-black);
  position: relative;
  padding-right: 20px;
}

/*  فلش لیست منو*/
nav ul li.dropdown > a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  width: 100%;
}
nav ul li.dropdown > a::before {
  content: "▼";
  font-size: 10px;
  transition: transform 0.3s;
}

/* وقتی هاور شد، فلش بچرخه */
nav ul li.dropdown:hover > a::before {
  transform: rotate(180deg);
}
nav ul li a:hover {
  color: var(--color-primary);
}
.section-title {
  color: var(--color-primary);
  font-weight: 800;
}

/* dropdown */
nav > ul > li > ul {
  display: none;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
}

nav ul li:hover > ul {
  display: flex;
  gap: 10px;
}

nav > ul > li > ul > li {
  width: 100%;
  padding: 2px;
  margin-right: 2px;
}

nav ul li ul li:hover {
  background: inherit;
  color: var(--color-primary);
}

/* ================ main بخش اصلی صفحه ===================*/
.main {
  background-color: var(--color-light-bg);
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 0px;
}
.main.full {
  width: 100%;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.islogin {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}
.islogin a {
  text-decoration: none;
  cursor: pointer;
}
.islogin a strong:hover {
  color: var(--color-dangerdark);
}
.islogin a strong {
  color: var(--color-danger);
}
/* ===================== کارت ها ===================== */
.cards {
  background-color: var(--color-light-bg);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--color-white);

  box-shadow: var(--shadow-medium);
  border-radius: 10px;
  overflow: hidden;
}
.card:hover {
  cursor: pointer;
  transform: scale(0.98);
}
.card h3 {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

.orders-count {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.orders-count.positive {
  color: var(--color-secondary);
}
.orders-count.negative {
  color: var(--color-danger);
}
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.status svg {
  width: 30px;
  height: 30px;
}
.card-stats {
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
  text-align: center;
  color: var(--color-white);
}

.card-percentage {
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 6px;
}
/* رنگ های مثبت و منفی برای درصد */
.card-stats.positive {
  background-color: var(--color-secondary);
}

.card-stats.negative {
  background-color: var(--color-danger);
}
/* ===================== چارت ===================== */
.chart {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  gap: 20px;
}
.chart p {
  text-align: center;
  font-size: 1rem;
}
.bar-wrapper,
.pie-wrapper {
  width: 45%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  cursor: pointer;
  box-shadow: var(--shadow-medium);
  border-radius: 10px;
}
.bar-wrapper canvas,
.pie-wrapper canvas {
  width: 100%;
  height: 100%;
}
/* ===================== جدول ===================== */
.table-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.table-section h2 {
  color: var(--color-grey);
  font-size: 1rem;
}

/* دیوی که حاوی جدول است */
.scrolldiv {
  width: 100%;
  overflow-x: auto;
}
.table-section table {
  background-color: var(--color-white);
  min-width: 50%;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  width: 70%;
  box-shadow: var(--shadow-dark-primary);
  border-collapse: collapse;
}
th {
  background-color: var(--color-primary);
  color: var(--color-white);
}
td {
  cursor: pointer;
}
tbody tr:hover {
  background-color: var(--color-logout-bg);
}

th,
td {
  border-bottom: 1px solid var(--color-primary);
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

/* ======================== نمودار خطی =====================*/
.income-chart {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 10px;
}
.line-wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-shadow: var(--shadow-medium);
  border-radius: 10px;
  cursor: pointer;
}

.horizontal-bar-wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-shadow: var(--shadow-medium);
  border-radius: 10px;
  cursor: pointer;
}
.horizontal-bar-wrapper p {
  font-size: 1rem;
}
/* ==================== دکمه جدول =================*/
/* دکمه صفحه کاربران */
.td-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.table-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font-primary);
}
.table-btn:hover {
  transform: scale(0.98);
}
.delete-btn {
  background-color: var(--color-danger);
}

/* ===================== ریسپانسیو ===================== */
/* سایز1000 */
@media screen and (max-width: 1000px) {
  .chart,
  .income-chart {
    flex-direction: column;
    gap: 30px;
  }
  .bar-wrapper,
  .pie-wrapper,
  .line-wrapper,
  .horizontal-bar-wrapper {
    width: 100%;
  }
}

/* سایز800 */
@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }

  .sidebar-title {
    justify-content: space-between;
  }

  .sidebar-title svg {
    display: block;
    width: 30px;
    height: 30px;
  }

  .user-icon {
    display: none;
  }
  .logo-section {
    justify-content: center;
    flex-direction: row-reverse;
  }
  .user-logout {
    left: -100%;
  }
  form {
    width: 100%;
    justify-content: center;
  }
  .search-section button {
    width: 20%;
  }
  .search-section input {
    width: 80%;
  }

  .main {
    width: 100%;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* سایز500 */
@media screen and (max-width: 500px) {
  header {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 10px;
  }
  .logo-section {
    justify-content: flex-start;
  }
  .search-section {
    order: 2;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
